<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Comercios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#"> Control de Clientes</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/commercials}">Control de Comercios</a></li>
            </ul>
        </div>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Edición de Comercios</h1>
                <div class="card-body">
                    <form th:action="@{/commercials/{id}(id=${commercial.id})}" th:object="${commercial}" method="POST">

                        <div class="form-group">
                            <label>Nombre: </label>
                            <input type="text" name="name" th:field="*{name}" class="form-control"
                                placeholder="Digite el nombre del cliente : " required>
                        </div>

                        <div class="form-group">
                            <label>Primer Apellido : </label>
                            <input type="text" name="firstSurname" th:field="*{firstSurname}" class="form-control"
                                placeholder="Digite el primer apellido del cliente : " required>
                        </div>

                        <div class="form-group">
                            <label>Segundo Apellido : </label>
                            <input type="text" name="secondSurname" th:field="*{secondSurname}" class="form-control"
                                placeholder="Digite el segundo apellido del cliente : " required>
                        </div>

                        <div class="form-group">
                            <label>Email : </label>
                            <input type="text" name="email" th:field="*{email}" class="form-control"
                                placeholder="Digite el Email : " required>
                        </div>

                        <div class="form-group">
                            <label>Ciudad : </label>
                            <input type="text" name="city" th:field="*{city}" class="form-control"
                                placeholder="Digite la ciudad : " required>
                        </div>

                        <div class="form-group">
                            <label>Comisión : </label>
                            <input type="text" name="commission" th:field="*{commission}" class="form-control"
                                placeholder="Digite la Comisión : " required>
                        </div>

                        <div class="form-group">
                            <label>Fecha de ingreso : </label>
                            <input type="date" value="2023-04-16" name="createAt" th:field="*{createAt}"
                                class="form-control" placeholder="Digite la Fecha  2023-04-16 : " required>
                        </div>

                        <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>